    <form class="form" [formGroup]="frmUserSkill">
        <p class="alert alert-danger" style="text-align: center;">{{message}}</p>
        <div class="row">
            <div class="column">
                <mat-form-field class="form-field">
                    <mat-label>Profession</mat-label>
                    <mat-select [(ngModel)]="model.professionCode" name="professionCode"
                    id="professionCode" formControlName="professionCode" required>
                        <mat-option *ngFor="let profession of professions" [value]="profession.code">
                          {{profession.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Level</mat-label>
                    <mat-select [(ngModel)]="model.levelCode" name="levelCode"
                    id="levelCode" formControlName="levelCode" required>
                        <mat-option *ngFor="let level of levels" [value]="level.code">
                          {{level.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
            <div class="column">
                  <mat-form-field class="form-field">
                    <input matInput [(ngModel)]="model.description" placeholder="Description" formControlName="description" required>
                </mat-form-field>
            </div>
        </div>
    <mat-card-actions>
        <button mat-raised-button (click)="submit()" 
        class="nav-btn pull-right" [disabled]="!frmUserSkill.valid">Save</button>
    </mat-card-actions>
    </form>