<div #navDemo class="my-friend-bar-block my-friend-theme-d2 my-friend-hide my-friend-hide-large my-friend-hide-medium my-friend-large">
    <a href="#" class="my-friend-bar-item my-friend-button my-friend-padding-large">Link 1</a>
    <a href="#" class="my-friend-bar-item my-friend-button my-friend-padding-large">Link 2</a>
    <a href="#" class="my-friend-bar-item my-friend-button my-friend-padding-large">Link 3</a>
    <a href="#" class="my-friend-bar-item my-friend-button my-friend-padding-large">My Profile</a>
  </div>
  
<div class="my-friend-row">
  <!-- Left section -->
  <div class="my-friend-col m3">
    <app-laborer-home-details></app-laborer-home-details>  
  </div>
  
  <!-- Main Content: Feed -->
  <div class="my-friend-col m7">
  
    <div class="my-friend-row-padding">
      <div class="my-friend-col m12">
        <div class="my-friend-card my-friend-round my-friend-white">
          <div class="my-friend-container my-friend-padding"><br>
              <img src="/images/avatar2.png" alt="Avatar" class="my-friend-left my-friend-circle my-friend-margin-right" style="width:60px">
              <span class="my-friend-right my-friend-opacity">1 min</span>
              <h4>John Doe</h4><br>
              <hr class="my-friend-clear">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="my-friend-row-padding" style="margin:0 -16px">
                  <div class="my-friend-half">
                    <img src="/images/lights.jpg" style="width:100%" alt="Northern Lights" class="my-friend-margin-bottom">
                  </div>
                  <div class="my-friend-half">
                    <img src="/images/nature.jpg" style="width:100%" alt="Nature" class="my-friend-margin-bottom">
                </div>
              </div>
              <button type="button" class="my-friend-button my-friend-theme-d1 my-friend-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
              <button type="button" class="my-friend-button my-friend-theme-d2 my-friend-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
            </div> 
        </div>
      </div>
    </div>
    
    <div class="my-friend-container my-friend-card my-friend-white my-friend-round my-friend-margin"><br>
      <img src="/images/avatar2.png" alt="Avatar" class="my-friend-left my-friend-circle my-friend-margin-right" style="width:60px">
      <span class="my-friend-right my-friend-opacity">1 min</span>
      <h4>John Doe</h4><br>
      <hr class="my-friend-clear">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="my-friend-row-padding" style="margin:0 -16px">
          <div class="my-friend-half">
            <img src="/images/lights.jpg" style="width:100%" alt="Northern Lights" class="my-friend-margin-bottom">
          </div>
          <div class="my-friend-half">
            <img src="/images/nature.jpg" style="width:100%" alt="Nature" class="my-friend-margin-bottom">
        </div>
      </div>
      <button type="button" class="my-friend-button my-friend-theme-d1 my-friend-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
      <button type="button" class="my-friend-button my-friend-theme-d2 my-friend-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
    </div>
    
    <div class="my-friend-container my-friend-card my-friend-white my-friend-round my-friend-margin"><br>
      <img src="/images/avatar5.png" alt="Avatar" class="my-friend-left my-friend-circle my-friend-margin-right" style="width:60px">
      <span class="my-friend-right my-friend-opacity">16 min</span>
      <h4>Jane Doe</h4><br>
      <hr class="my-friend-clear">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <button type="button" class="my-friend-button my-friend-theme-d1 my-friend-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
      <button type="button" class="my-friend-button my-friend-theme-d2 my-friend-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
    </div>  

    <div class="my-friend-container my-friend-card my-friend-white my-friend-round my-friend-margin"><br>
      <img src="/images/avatar6.png" alt="Avatar" class="my-friend-left my-friend-circle my-friend-margin-right" style="width:60px">
      <span class="my-friend-right my-friend-opacity">32 min</span>
      <h4>Angie Jane</h4><br>
      <hr class="my-friend-clear">
      <p>Have you seen this?</p>
      <img src="/images/nature.jpg" style="width:100%" class="my-friend-margin-bottom">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <button type="button" class="my-friend-button my-friend-theme-d1 my-friend-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
      <button type="button" class="my-friend-button my-friend-theme-d2 my-friend-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
    </div> 
    
  </div>
  
  <!-- Right section -->
  <div class="my-friend-col m2">
    <!-- Events -->
    <app-home-events></app-home-events>
  </div>
</div>