<div class="container">
    <div class="form-container">
        <form #itemForm="ngForm" (ngSubmit)="submit()" [formGroup]="submitForm" novalidate class="display: inline-block;">
                <span style="align-items: center;"><mat-icon>wifi_tethering</mat-icon></span>
                <h3 style="text-align: center;">Change password</h3>
                <p style="text-align: center;">Connect with laborers or customers who want to work with you</p>
                <p class="alert alert-danger" style="text-align: center;">{{message}}</p>
                <input type="password" [(ngModel)]="model.password" name="password"
                id="password" formControlName="password" placeholder="New Password">
                    <div *ngIf="submitted && f['password'].errors" class="alert alert-danger">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
                <input type="password" [(ngModel)]="model.confirmpassword" name="confirmpassword"
             id="confirmpassword" formControlName="confirmpassword" placeholder="Confirm Password">
             <div *ngIf="submitted && f['confirmpassword'].errors" class="alert alert-danger">
              <div *ngIf="f['confirmpassword'].errors['required']">Confirm Password is required</div>
            </div>
                <a routerLink="/login" style="float: left;font-size: small;padding: 5px;">Sign in</a>
                <a routerLink="/forgot-password" style="float: right;font-size: small;padding: 5px;">Sign up</a>
                
                <input type="submit" value="Okay" />
        </form>
    </div>
</div>