.mat-mdc-dialog-content {
    overflow-x: unset!;
    overflow-y: unset!;
    overflow: unset!;
}

.mat-dialog-content {
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mat-icon {
    float: right;
    cursor: pointer;
}

span {
    font-weight: 500;
    font-size: large;
}