<mat-card>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="download(element.id)" download="{{element.name}}" class="action tooltip">
                <span class="tooltip-text">Download</span>
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
              </a>&nbsp;
              <a href="javascript:void(0)" (click)="delete(element.id, element.name)" class="action tooltip">
                <span class="tooltip-text">Delete</span>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a></td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br/>
      <app-userdocument (ngOnInit)="ngOnInit()"></app-userdocument>
    <mat-card-actions>
        <button mat-button (click)="back()">Back</button>
		<button mat-raised-button (click)="next()"
        class="nav-btn pull-right" [disabled]="dataSource.length < 1">Next</button>
    </mat-card-actions>
</mat-card>