<div class="container">
    <div class="form-container">
        <form #itemForm="ngForm" (ngSubmit)="submit()" [formGroup]="submitForm" novalidate class="display: inline-block;">
                <span style="align-items: center;"><mat-icon>wifi_tethering</mat-icon></span>
                <h3 style="text-align: center;">Forgot password</h3>
                <p style="text-align: center;">Connect with laborers or customers who want to work with you</p>
                <p class="alert alert-danger" style="text-align: center;">{{message}}</p>
                <input type="text" [(ngModel)]="model.username" name="username"
                id="username" formControlName="username" placeholder="Username">
                <div *ngIf="submitted && f['username'].errors" class="alert alert-danger">
                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                  </div>
                <select [(ngModel)]="model.credentialTypeCode" name="credentialTypeCode"
                id="credentialTypeCode" formControlName="credentialTypeCode">  
                    <option [value]="credentialTypeCode.code" *ngFor="let credentialTypeCode of credentialTypes">{{credentialTypeCode.name}}</option>  
                </select>
                <div *ngIf="submitted && f['credentialTypeCode'].errors" class="alert alert-danger">
                    <div *ngIf="f['credentialTypeCode'].errors['required']">Credential Type is required</div>
                  </div>
                <a routerLink="/" style="float: left;font-size: small;padding: 5px;">Sign in</a>
                <a routerLink="/register" style="float: right;font-size: small;padding: 5px;">Sign up</a>
                <input type="submit" value="Okay" />
        </form>
    </div>
</div>
