    <form class="form" [formGroup]="frmUserQualification">
        <p class="alert alert-danger" style="text-align: center;">{{message}}</p>
        <div class="row">
            <div class="column">
                <mat-form-field class="form-field">
                    <mat-label>Profession</mat-label>
                    <mat-select [(ngModel)]="model.professionCode" name="professionCode"
                    id="professionCode" formControlName="professionCode" required>
                        <mat-option *ngFor="let profession of professions" [value]="profession.code">
                          {{profession.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="model.name" placeholder="Name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Start</mat-label>
                    <input matInput [matDatepicker]="start" readonly [(ngModel)]="model.start" placeholder="Start" [max]="today">
                      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                      <mat-datepicker #start></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>End</mat-label>
                    <input matInput [matDatepicker]="end" readonly [(ngModel)]="model.end" placeholder="End" [max]="today">
                      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                      <mat-datepicker #end></mat-datepicker>
                </mat-form-field>             
            </div>
            <div class="column">
                <mat-form-field class="form-field">
                    <mat-label>Institution</mat-label>
                    <input matInput [(ngModel)]="model.institution" placeholder="Institution" formControlName="institution" required>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Unique Identifier</mat-label>
                    <input matInput [(ngModel)]="model.uniqueIdentifier" placeholder="Unique Identifier" formControlName="uniqueIdentifier" required>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Qualification Status</mat-label>
                    <mat-select [(ngModel)]="model.qualificationStatusCode" name="qualificationStatusCode"
                    id="qualificationStatusCode" formControlName="qualificationStatusCode" required>
                        <mat-option *ngFor="let qualificationStatusCode of qualificationStatus" [value]="qualificationStatusCode.code">
                          {{qualificationStatusCode.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                  <mat-form-field class="form-field">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="model.description" placeholder="Description" formControlName="description" required>
                </mat-form-field>
            </div>
        </div>
    <mat-card-actions>
        <button mat-raised-button (click)="submit()" 
        class="nav-btn pull-right" [disabled]="!frmUserQualification.valid">Save</button>
    </mat-card-actions>
    </form>