<div class="my-friend-card my-friend-round my-friend-white my-friend-center">
    <div class="my-friend-container">
      <p>Upcoming Events:</p>
      <img src="/images/forest.jpg" alt="Forest" style="width:100%;">
      <p><strong>Holiday</strong></p>
      <p>Friday 15:00</p>
      <p><button class="my-friend-button my-friend-block my-friend-theme-l4">Info</button></p>
    </div>
  </div>
  <br>
  
  <div class="my-friend-card my-friend-round my-friend-white my-friend-center">
    <div class="my-friend-container">
      <p>Friend Request</p>
      <img src="/images/avatar6.png" alt="Avatar" style="width:50%"><br>
      <span>Jane Doe</span>
      <div class="my-friend-row my-friend-opacity">
        <div class="my-friend-half">
          <button class="my-friend-button my-friend-block my-friend-green my-friend-section" title="Accept"><i class="fa fa-check"></i></button>
        </div>
        <div class="my-friend-half">
          <button class="my-friend-button my-friend-block my-friend-red my-friend-section" title="Decline"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="my-friend-card my-friend-round my-friend-white my-friend-padding-16 my-friend-center">
    <p>ADS</p>
  </div>
  <br>
  
  <div class="my-friend-card my-friend-round my-friend-white my-friend-padding-32 my-friend-center">
    <p><i class="fa fa-bug my-friend-xxlarge"></i></p>
  </div>